.containerLanding {
  display: flex;
  height: 70vh;

  justify-content: center;
  align-items: center;
}

.btnLanding {
  cursor: pointer;
  padding: 100px 140px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  background-color: aqua;
  transition: .3s ease-out;
}

.btnLanding:hover{
  background-color: rgb(35, 84, 84);
  color: white;
}
